@import url('https://fonts.googleapis.com/css2?family=Anton&family=Public+Sans:wght@600&display=swap');

@import './reset.css';
@import './global.css';
@import './banner.css';
@import './grid.css';
@import './screen.css';

@font-face {
    font-family: 'digital-led';
    src: url('../fonts/digital-7.ttf') format('woff2');
}

main {
    padding: 0 0 40px 0;
}
