@import url('https://fonts.googleapis.com/css2?family=Anton&family=Public+Sans:wght@600&display=swap');

@import './reset.css';
@import './global.css';
@import './banner.css';
@import './grid.css';

@font-face {
    font-family: 'digital-led';
    src: url('../fonts/digital-7.ttf') format('woff2');
}

.gradient {
    background-image: linear-gradient(#000000, #f11b1b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}