@media screen and (max-width: 300px) {
    main {
        background-color: aqua;
    }

    /* BANNER */

    .container__main, 
    .banner {
        width: 280px;
    }

    .banner {
        display: flex;
        flex-direction: column;
    }

    .container__main {
        padding: 0;
        grid-template-rows: 400px 200px 250px 400px 250px 400px;
        grid-template-columns: 280px;
    }
    
    .title {
        font-size: 40px;
        text-align: center;
    }

    .banner__title:nth-child(1) {
        width: 200px;
    }
    
    .banner__title:nth-child(3) {
        width: 280px;
    }

    .clock {
        font-size: 20px;
    }

    .label {
        font-size: 0.5rem;
    }


    /* IMAGES */

    .container__main iframe {
        grid-row: 1/2; 
        grid-column: 1/2;
    }
    
    .container__main img:nth-child(2) {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    
    .container__main img:nth-child(3) {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    
    .container__main img:nth-child(4) {
        grid-row: 4/5;
        grid-column: 1/2;
    }
    
    .container__main img:nth-child(5) {
        grid-row: 5/6;
        grid-column: 1/2;
    }
    
    .container__main img:nth-child(6) {
        grid-row: 6/7;
        grid-column: 1/2; 
    }
    
    .container__main img:nth-child(7) {
        grid-row: 7/8;
        grid-column: 1/2;
    }
    
    .container__main img:nth-child(8) {
        grid-row: 8/9;
        grid-column: 1/2;
    }
}